/* setting the height and margin of the webpage at parental body */

html, body{
    margin: 0;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* centralizing the main body content at the center of this page since flexbox property applies to the childrem */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* beautifying the content so that it looks better */
.joke{
    background-color: cyan;
    padding: 4vh;
    border: 3px dotted;
}
