*{
    margin: 0;
    padding: 0;
}

/* all the properties are applied on the span inline element */
span{
    margin: 300px; /*used to give the margin from all side*/
    border: 3px solid black;
    background-color: cyan;
    height: 10vh; /* height of joke box*/
    font-size: large;
}

/* used to centerlizing the element  */
.joke{
    display: flex;
    justify-content: center;
    align-items: center;
}